<div id="info">
    <div id="buttonBox">
        <app-currency-change></app-currency-change>
        <div id="stateBox">
            <button (click)="changeState('before')">Przed</button>
            <button (click)="changeState('now')">W trakcie</button>
            <button (click)="changeState('after')">Zakończona</button>
            <button (click)="changeState('all')">Wszystkie</button>
        </div>
    </div>
    <h1>Historia Twoich wycieczek:</h1>
    <hr>
    <div *ngFor="let travel of historyTravels | state: state ">
        <div class="travel">
            <h2> <strong> {{travel.name}}</strong></h2>
            <p>Kraj: {{travel.country}}</p>
            <p>{{travel.startDate}} - {{travel.endDate}}</p>
            <p>Ilość biletów: {{travel.tickets}}</p>
            <p>Cena jednostkowa: {{travel.price | currency : currency}}</p>
            <p>Cena za wszystkie bilety: {{(travel.price * travel.tickets) | currency : currency}}</p>
            <p>{{travel.buyDate | date: 'd/MM/YYYY'}}</p>
            <p> <strong> Status: Kupiona</strong></p>
        </div>
    </div>

</div>