html{
    background-color: rgb(255, 255, 255);
    padding: 2px;
}
#container{
    display: grid;
    grid-template-areas:
    'header header header header '
    'nav nav nav nav'
    'left-side main main right-side'
    'footer footer footer footer';
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 65% 10%;
    padding: 2px;
    border: 2px solid black;
    background-color: lightgrey;
    width: 100%;
    height: 350px;
    cursor: all-scroll;
    border-collapse: collapse;
}
header{
    background-color: gray;
    grid-area: header;
    border: 1px solid black;
    text-align: center;
}
#logo{
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 32px;
    margin: 10px 0px 10px 10px;
    text-align: center;
    float: left;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    padding-left: 2px;

}

#left-side{
    grid-area: left-side;
    background-color: white;
    border: 1px solid black;
    padding-left: 2px;
}
#right-side{
    grid-area: right-side;
    background-color: white;
    border: 2px solid black;
    padding-left: 1%;
}
main{
    grid-area:main;
    background-color: white;
    border: 1px solid black;
    padding-left: 2px;
}
footer{
    text-align: center;
    background-color: grey;
    grid-area:footer;
    border: 1px solid black;
    height: auto;
    padding: 2px;
}

@media (min-width: 750px) and (max-width:950px){ 
    #container{
        display: grid;
        grid-template-areas:
        'header header header '
        'nav nav nav'
        'left-side main main'
        'right-side main main'
        'footer footer footer ';
        grid-template-rows: auto;
        grid-template-columns: 33%;
    }
   }

@media (max-width: 800px) {
    #container{
        display: grid;
        grid-template-areas:
        'header '
        'nav'
        'left-side '
        'main'
        'right-side'
        'footer';
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }

    #logo{
        display:none;
    }
}