<div class="starBox">
    <input type="radio" name={{travelName}} value="5" (click)="starClicked($event)">
    <label for="5"></label>
    <input type="radio" name={{travelName}} value="4" (click)="starClicked($event)">
    <label for="4"></label>
    <input type="radio" name={{travelName}} value="3" (click)="starClicked($event)">
    <label for="3"></label>
    <input type="radio" name={{travelName}} value="2" (click)="starClicked($event)">
    <label for="2"></label>
    <input type="radio" name={{travelName}} value="1" (click)="starClicked($event)">
    <label for="1"></label>
</div>
<div class="score"> Ogólna ocena: <strong>{{rate}}</strong> (oceniono {{counter}} razy)</div>