<div class="starBox">
    <input type="radio" name={{travel.name}} value="5" (click)="starClicked($event)">
    <label for="5"></label>
    <input type="radio" name={{travel.name}} value="4" (click)="starClicked($event)">
    <label for="4"></label>
    <input type="radio" name={{travel.name}} value="3" (click)="starClicked($event)">
    <label for="3"></label>
    <input type="radio" name={{travel.name}} value="2" (click)="starClicked($event)">
    <label for="2"></label>
    <input type="radio" name={{travel.name}} value="1" (click)="starClicked($event)">
    <label for="1"></label>
</div>
<div class="score"> Ogólna ocena: <strong >{{travel.rating}} <br> </strong> Ilość ocen: {{travel.ratingCounter}} </div>