<div id="box">
    <div class="miniBox">
        <p>Cena:</p>
        <p>Od <input type="number" min="{{lowPrice}}" max="{{highPrice}}" step="0.1" placeholder="{{lowPrice}}"
                (change)="minPriceClicked($event)"></p>
        <p>Do <input type="number" min="{{lowPrice}}" max="{{highPrice}}" step="0.1" placeholder="{{highPrice}}"
                (change)="maxPriceClicked($event)"></p>
    </div>

    <div class="miniBox">
        <p>Ocena:</p>
        <div class="inputs">
            <div *ngFor=" let i of rateList">
                <input type="checkbox" id="rate{{i}}" name="rate{{i}}" value="{{i}}" checked="false" (change)="rateClicked($event)">
                <label for="rate{{i}}"> {{i}} </label><br>
            </div>
        </div>
    </div>

    <div class="miniBox">
        <p>Data:</p>
        <p>Od <input type="date" (change)="startDateClicked($event)"></p>
        <p>Do <input type="date" (change)="endDateClicked($event)"></p>
    </div>

    <div class="miniBox">
        <p>Kraj docelowy:</p>
        <div class="inputs" id="cityInputs">
            <div *ngFor=" let i of countryList  | keyvalue ">
                <input type="checkbox" id="{{i.key}}" name="{{i.key}}" value="{{i.key}}" checked="false" (change)="countryClicked($event)">
                <label for="{{i.key}}"> {{i.key}} </label><br>
            </div>
        </div>
    </div>


</div>