<div class="post" id="forms">
    <h2>Dodaj Opinie!</h2>

    <form [formGroup]="postForm">
        <div>
            <label for="login">Login: </label>
            <input type="text" formControlName="login">
        </div>
        <div>
            <label for="name">Nazwa wycieczki: </label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label for="opinion">Opinia: </label>
            <input type="text" cols="60" rows="5" formControlName="opinion">
        </div>
        <div>
            <label for="date">Data zakupu: </label>
            <input type="date" formControlName="date">
        </div>
    </form>
    <div>
        <button type="submit" [disabled]="!postForm.valid" (click)="sendOpinion()">Dodaj opinie!</button>
    </div>
    <ul class="errors">
        <li *ngIf="!postForm.get('login')!.valid">Podaj login.</li>
        <li *ngIf="!postForm.get('name')!.valid">Podaj nazwę wycieczki.</li>
        <li *ngIf="!postForm.get('opinion')!.valid">Opinia powinna zawierać od 50 do 500 znaków</li>
    </ul>

</div>
<div class="post" *ngFor="let opinion of opinions">
    <h3>{{opinion.name}}</h3>
    <p>{{opinion.date}}</p>
    <p>{{opinion.opinion}}</p>
    <p><i>{{opinion.login}}</i></p>
</div>