<div *ngIf="canBeCommented" class="post" id="forms">
    <h2>Dodaj Opinie!</h2>
    <form [formGroup]="postForm">
        <div>
            <label for="opinion">Opinia: </label>
            <textarea type="text" size="30" rows="5" formControlName="opinion" cols="40" 
            rows="5" placeholder="Tu wpisz swoją opinię..."></textarea>
        </div>
        <div>
            <label for="date">Data zakupu: </label>
            <input type="date" formControlName="date">
        </div>
    </form>
    <div>
        <button type="submit" [disabled]="!postForm.valid" (click)="sendOpinion()">Dodaj opinie!</button>
    </div>
    <ul class="errors">
        <li *ngIf="!postForm.get('opinion')!.valid">Opinia powinna zawierać od 50 do 500 znaków</li>
    </ul>
    
</div>
<h2>Opinie!</h2>
<div *ngIf="opinions.length == 0" id="white">Brak opinii o tej wycieczce.</div>

<div class="post" *ngFor="let opinion of opinions">
    <h3>{{opinion.name}}</h3>
    <p>{{opinion.date}}</p>
    <p>{{opinion.opinion}}</p>
    <p><i>{{opinion.login}}</i></p>
</div>