<app-card-filter [travels]="travels" [highPrice]="highPrice" [lowPrice]="lowPrice">
</app-card-filter>
<header>
    <div id="reservedTravels" [ngStyle]="{'border-color' : getBorderColor()}">Aktualnie zarezerwowanych wycieczek:
        {{counter}}</div>
    <app-currency-change></app-currency-change>
</header>
<div id="cardContainer">
    <app-card *ngFor='let travel of travelsAll | filter: travelRanges' [travel]="travel"
        (emitTravelChanges)="changeNumberTravels($event)" (clickRemove)="removeCard($event)">
    </app-card>
</div>