@font-face {
    font-family: letters;
    src: url(assets/Saunde.otf);
}

body {
    font-family: letters;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.blure {
    background: rgba(98, 180, 227, 0.5);
    backdrop-filter: blur(1px);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    z-index: -10;
}

.triangle {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-top: -13px;
    margin-left: 10px;
    display: none;
}

nav {
    padding-top: 5px;
    align-items: center;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: rgb(98, 180, 227);
    height: 50px;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navBar>div {
    width: 150px;
}

.navSection,
button {
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 160px;
}

.navSection:hover {
    color: rgb(20, 55, 77);
}

.navSection:hover .triangle {
    display: block;
}


.dropDownSection a {
    color: rgb(98, 180, 227);
    background-color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin-bottom: -46px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.point {
    justify-content: flex-end;
    margin-left: 6px;
}

.dropDownSection a .point {
    visibility: hidden;
}

.dropDownSection a:hover {
    background-color: rgb(98, 180, 227);
    color: white;
}

.dropDownSection a:hover .point {
    visibility: visible;
}

.dropDownSection {
    display: none;
    background-color: rgb(98, 180, 227);
    margin-top: 2px;
}

.dropDown:hover .dropDownSection {
    display: block;
}

#login {
    background-color: rgba(98, 180, 227, 0.5);
    border-radius: 28px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
}

#login:hover {
    background-color: rgb(20, 55, 77);
}

#signup {
    background-color: #ffffff;
    border-radius: 28px;
    border: 1px solid rgb(98, 180, 227);
    display: inline-block;
    cursor: pointer;
    color: rgb(98, 180, 227);
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
}

#signup:hover {
    background-color: rgb(20, 55, 77);
    border-color: #ffffff;
    color: #ffffff;
}

@media (max-width:1200px) {
    nav {
        text-align: center;
        padding-left: 5px;
        flex-direction: column;
        justify-content: flex-start;
        width: 140px;
        height: 100%;
    }

    nav>p {
        display: none;
    }

    .triangle {
        display: none;
    }

    .navSection:hover .triangle {
        display: none;
    }

    #navBar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #navBar>div {
        height: 50px;
    }

    .navSection,
    button {
        height: 50px;
        width: 100px;
    }

    .dropDownSection {
        margin-top: -50px;
        margin-left: 145px;
    }

    .dropDownSection a {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .dropDownSection a .point {
        visibility: hidden;
    }

    .dropDown:hover .dropDownSection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    button {
        height: 80px;
        margin-bottom: 10px;
    }
}
