<button id="delete" (click)="clickedRemove()">Usuń</button>
<div class="card" [ngStyle]="{'box-shadow' : getShadowColor()}">
    <h3>{{travel.name | uppercase}}</h3>
    <a routerLink="/cardList/{{travel.id}}"><img src="{{travel.image}}" alt=""></a>
    <p><strong>{{travel.country | uppercase}}</strong></p>
    <p>{{travel.startDate | date:'MM/dd/yyyy'}} - {{travel.endDate | date:'MM/dd/yyyy'}}</p>
    <p><strong> {{travel.price | currency: currency }}</strong></p>
    <hr>
    <p>{{travel.description}}</p>
    <p>Ilość miejsc: {{places}}</p>
    <app-reserve-place [travel]="travel"></app-reserve-place>

</div>