:host {
    #currencyBox {
        display: flex;
        flex-direction: row;
        width: 15%;
    }

    button {
        background-color: rgba(255, 255, 255, 0.705);
        border: 1px solid rgb(255, 255, 255);
        cursor: pointer;
        margin: 5px;
        font-weight: bold;
        font-size: 18px;
    }

    button:hover {
        color: black;
        background-color: rgb(255, 255, 255);
    }

}