<div id="box">
  <img src="../../assets/images/albania.jpg" alt="">
  <div id="info">
    <h1>Biuro podróży!</h1>
    <p class="greenText">O nas:</p>
    <p>Nasze biuro podróży oferuje wycieczki, które dostarczają niezapomnianych wrażeń. Nasz zespół profesjonalnych
      pracowników zapewni Ci wszystko, czego potrzebujesz, aby zorganizować idealny wyjazd. Zapraszamy do skorzystania z
      naszych usług już dziś.
    </p>

    <p class="greenText"> Telefon:</p>
    <p>+ 48 987 654 321</p>
    <p class="greenText">Adres:</p>
    <p>ul. Nieznana 8, Kraków</p>
    <p class="greenText">Gdzie możesz nas znaleźć ?</p>
    <div class="container">
      <div class=" map-card">
        <div class=" map-container">
          <iframe
            src="https://maps.google.com/maps?q=Akademia+Górniczo-Hutnicza+im.+Stanisława+Staszica+w+Krakowie&t=&z=13&ie=UTF8&iwloc=&output=embed"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>